form button {
  padding: 15px;
  border: 0;
  cursor: pointer;
  outline: none;
  width: 150px;
  margin: 30px auto 0;
  border-radius: 30px;
  background-color: #8db7e6;
  background-image: linear-gradient(315deg, #8cb9c7 0%, #8bc5eb 74%);
}

$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  
  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown~.form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight: 700;
  }

  padding-bottom: 6px;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}


.form__field {

  &:required,
  &:invalid {
    box-shadow: none;
  }
}


.scrollFade {
  opacity: 1;
  pointer-events: all;

  &--hidden {
    opacity: 0;
    pointer-events: none;
  }

  &--visible {
    opacity: 1;
    pointer-events: all;
  }

  &--animate {
    transition: opacity 3s ease-in-out;
  }
}


a {
  cursor: pointer;
  text-decoration: none;
}

viewList,
list {
  margin: 0;
  padding: 0;
}

list {
  padding: 12px;
}

.wrapper {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 0 auto;
}

.glow-effect>a {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    margin: -5px 0;
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
  }

  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

.glow-effect:hover {
  color: #fff;
  text-shadow: 0 0 5px #8803f4,
    0 0 25px #8803f4,
    0 0 50px #8803f4,
    0 0 100px #8803f4;
  transition: all 0.3s ease-in-out 0.3s;
}

